<div class="text-center">
<h1>Home#about</h1>
<p>Find me in app/views/home/about.html.erb</p>
</div>

<iframe src="https://paiza.io/projects/e/LX2GWTWFs6gkqgyFF61XRg?theme=twilight" width="100%" height="500" scrolling="no" seamless="seamless"></iframe>
