// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  //border-bottom: 1px solid grey;
}
nav a:hover {
  color:blue;
  background-color: rgba(1, 1, 1, 0);
}

html, body{
    margin-top: 50px;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    background: white;
}

.nav-link{
  font-size:1.3em;
}


.home-img{
  width:100%;
}

.home-top-wrapper {
  padding-top:100px;
  color:white;
  background-image: url("/fixed/home-image.jpg");
  height: 600px;
  background-size:cover;
}

.footer {
  padding-top:10px;
  padding-bottom: 20px;
  //background-color: #E9ECEF;
}

.regis-line {
  padding-bottom:20px;
}

.application-layout-wrapper{
  //background-color: #FFFDF4;
}

.page-title{
  padding-top:30px;
  padding-bottom:30px;
}

.login-wrapper{
  //background-color: #FFFDF4;
}
.login-top-wrapper{
  margin: auto;
  width: 80%;
}

.login-buttons-wrapper{
  margin-top:50px;
}

.google-login{
  font-size: 1.2em;
  font-family: "FontAwesome";
  content: "f1a0";
}

.test-submit-button{
  width:40%;
  text-align: center;
  margin-top: 30px;
}

.test-middle-wrapper {
  margin-top:50px;
  padding-bottom:320px;
}


 .intro-title{
   padding-top: 50px;
   padding-bottom: 20px;
   font-size: 2.0em;
 }

.lead {
  padding-top:10px;
}

@media (max-width: 1000px) {
.home-top-wrapper {
  padding-top:100px;
  color:white;
  background-image: url("/fixed/home-image.jpg");
  height: 300px;
  background-size:cover;
 }



 .top-middle-wrapper .lead{
   display: none;
 }
}
