// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav a:hover {
  background-color: white;
}

html, body{
    margin-top: 50px;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}



.home-img{
  width:100%;
}

.home-top-wrapper {
  padding-top:100px;
  color:white;
  background-image: url("/fixed/home-image.jpg");
  height: 500px;
  background-size:cover;
}

.application-layout-wrapper{
  //background-color: #FFFDF4;
}

.login-wrapper{
  //background-color: #FFFDF4;
}
.login-top-wrapper{
  margin: auto;
  width: 80%;
}

.login-buttons-wrapper{
  margin-top:50px;
}
