// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  border-bottom: 1px solid grey;
}
nav a:hover {
  background-color: white;
}

html, body{
    margin-top: 50px;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}

.nav-link{
  font-size:1.3em;
}


.home-img{
  width:100%;
}

.home-top-wrapper {
  padding-top:100px;
  color:white;
  background-image: url("/fixed/home-image.jpg");
  height: 500px;
  background-size:cover;
}

.application-layout-wrapper{
  //background-color: #FFFDF4;
}

.page-title{
  padding-top:25px
}

.login-wrapper{
  //background-color: #FFFDF4;
}
.login-top-wrapper{
  margin: auto;
  width: 80%;
}

.login-buttons-wrapper{
  margin-top:50px;
}

.google-login{
  font-size: 1.2em;
  font-family: "FontAwesome";
  content: "f1a0";
}

@media (max-width: 1000px) {
.home-top-wrapper {
  padding-top:100px;
  color:white;
  background-image: url("/fixed/home-image.jpg");
  height: 300px;
  background-size:cover;
 }

.home-top-wrapper h1{
  //font-size: 0.8em;
 }

 .top-middle-wrapper h1{
   font-size: 2.0em;
 }
 .top-middle-wrapper .lead{
   display: none;
 }
}
