<div class="page-title text-center"
  <p>
    <h1><%= @category.category_name %></h1>
  </p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Articles</th>
    </tr>
  </thead>
  <tbody>
    <% @category.articles.each do |a| %>
    <tr>
      <td><%= link_to a.title, article_path(a), class:"btn btn-outline-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
